body {
	margin: 0 auto;
	max-width: 1024px;
	background-color: gray;
}

main {
	margin: 0 auto;
	max-width: 928px;
	border: solid 5px white;
	background-color: orange;
	font: bold 1em serif;
	text-align: justify;

	h1 {
		text-align: center;
		color: purple;
	}

	/* EXTEND/INHERITANCE */
	%main-divs-padding {
		padding: 1em;
	}

	/* NESTING */
	#first {
		@extend %main-divs-padding;
		background-color: lightgreen;
		}

	#second {
		@extend %main-divs-padding;
		background-color: lightblue;
		}

	#third {
		@extend %main-divs-padding;
		background-color: pink;
	}
}

@media only screen and (min-device-width:1024px) {
	#title {
		font-size: (3em);
	}
}